@import url('header.css');
@import url('footer.css');
.wrapper {
    background: url(../img/arc-desktop.webp) no-repeat center;
    position: relative;
}
.wrapper .wrapper__arrows {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}
.wrapper .wrapper__arrows .arrow-1 {
    position: absolute;
    height: 239px;
    width: 133px;
    top: -90px;
    left: 100px;
}
.wrapper .wrapper__arrows .arrow-2 {
    position: absolute;
    right: 140px;
    top: 10px;
    width: 200px;
    height: auto;
}
.wrapper .wrapper__search {
    padding: 1.5rem 0;
    max-width: 64rem;
    margin: 0 auto;
    border-bottom: 1px solid var(--dark-blue-2);
    position: relative;
}
.wrapper .wrapper__search .wrapper__search-text {
    margin: 0.75rem 0 1rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
    color: var(--white);
}
.wrapper .wrapper__search .wrapper__search-text .wrapper__search-text-bold {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.wrapper .wrapper__search .wrapper__search-text .wrapper__search-text-thin {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.wrapper .wrapper__search .wrapper__search-box {
    max-width: 42rem;
    display: flex;
    margin: 0 auto;
    padding: 0.75rem;
    gap: 0.75rem;
}
.wrapper .wrapper__search .wrapper__search-box .wrapper__search-bar {
    padding: 0 1rem;
    border-radius: 0.375rem;
    background-color: var(--white);
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
}
.wrapper .wrapper__search .wrapper__search-box .wrapper__search-bar .input {
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
}
.wrapper .wrapper__search .wrapper__search-box .wrapper__search-bar .input::-moz-placeholder {
    color: var(--input-placeholder);
}
.wrapper .wrapper__search .wrapper__search-box .wrapper__search-bar .input::placeholder {
    color: var(--input-placeholder);
}
.wrapper .wrapper__search .wrapper__search-box .wrapper__search-btn {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    background-color: var(--dark-green);
    padding: 0 0.75rem;
    border-radius: 0.375rem;
}
.wrapper .wrapper__search .wrapper__search-box .wrapper__search-btn .icon {
    height: 18px;
    width: 18px;
}
.wrapper .wrapper__search .wrapper__search-box .wrapper__search-btn .wrapper__search-btn-text {
    color: var(--white);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    white-space: nowrap;
}
.wrapper .wrapper__slider {
    max-width: 64rem;
    margin: 0 auto;
    padding: 1.25rem 0;
    position: relative;
}
.wrapper .wrapper__slider .wrapper__slider-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: var(--white);
    padding-left: 3.5rem;
}
.wrapper .wrapper__slider .wrapper__slider-carousel {
    padding: 1rem 0 2rem 0;
}
.wrapper .wrapper__slider .swiper {
    overflow-x: clip;
    overflow-y: visible;
}
.wrapper .wrapper__slider .swiper .swiper-wrapper .swiper-slide {
    padding: 0.5rem 0;
}
.wrapper .wrapper__slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.wrapper
    .wrapper__slider
    .swiper
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .flag-wrapper-tooltip {
    position: relative;
}
.wrapper
    .wrapper__slider
    .swiper
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .flag-wrapper-tooltip
    .flag-wrapper {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.wrapper
    .wrapper__slider
    .swiper
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .flag-wrapper-tooltip
    .flag-wrapper
    .flag-wrapper__img {
    -o-object-fit: cover;
    object-fit: cover;
}
.wrapper
    .wrapper__slider
    .swiper
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .flag-wrapper-tooltip
    .flag-wrapper:hover {
    box-shadow: var(--box-shadow-3);
}
.wrapper
    .wrapper__slider
    .swiper
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .flag-wrapper-tooltip
    .tooltip {
    position: absolute;
    visibility: hidden;
    bottom: 115%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    text-wrap: nowrap;
    padding: 13px;
    border-radius: 5px;
}
.wrapper
    .wrapper__slider
    .swiper
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .flag-wrapper-tooltip
    .tooltip
    .tooltip__text {
    display: flex;
    color: var(--black);
    font-size: 12px;
}
.wrapper
    .wrapper__slider
    .swiper
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .flag-wrapper-tooltip
    .tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--white) transparent transparent transparent;
}
.wrapper
    .wrapper__slider
    .swiper
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .flag-wrapper-tooltip
    .tooltip:hover {
    display: none;
    visibility: hidden;
}
.wrapper
    .wrapper__slider
    .swiper
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .flag-wrapper-tooltip:hover
    .tooltip {
    visibility: visible;
}
.wrapper .wrapper__slider .swiper .swiper-wrapper .swiper-slide .swiper-slide__link .country-name {
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
}
.wrapper .wrapper__slider .swiper .swiper-button-prev {
    left: 0;
}
.wrapper .wrapper__slider .swiper .swiper-button-next {
    right: 0;
}
.wrapper .wrapper__slider .swiper .swiper-button-prev::after,
.wrapper .wrapper__slider .swiper .swiper-button-next::after {
    color: var(--white);
    font-size: 1.5rem;
    line-height: 2rem;
}

.articles {
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    overflow: hidden;
}
.articles .articles__title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2px;
    margin: 2rem 0;
    color: var(--light-black);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}
.articles .articles__title .articles__title-green {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--green-2);
    z-index: 10;
}
.articles .articles__list {
    position: relative;
}
.articles .articles__list .swiper-wrapper .swiper-slide .swiper-slide__link {
    display: flex;
    justify-content: center;
    min-height: 288px;
}
.articles .articles__list .swiper-wrapper .swiper-slide .swiper-slide__link .swiper-slide__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.375rem;
    box-shadow: var(--box-shadow-4);
}
.articles
    .articles__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-img
    img {
    height: 176px;
}
.articles
    .articles__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem 1rem 1rem 1rem;
}
.articles
    .articles__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-description
    .swiper-slide__card-date {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.articles
    .articles__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-description
    .swiper-slide__card-date
    .swiper-slide__card-date-text {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--black);
}
.articles
    .articles__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-description
    .swiper-slide__card-date
    .swiper-slide__card-date-text
    .swiper-slide__card-date-text-bold {
    font-weight: 700;
}
.articles
    .articles__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-description
    .swiper-slide__card-text {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--black);
}
.articles .articles__list .swiper-button-prev {
    left: 0;
}
.articles .articles__list .swiper-button-next {
    right: 0;
}
.articles .articles__list .swiper-button-prev::after,
.articles .articles__list .swiper-button-next::after {
    color: var(--black);
    font-size: 1.5rem;
    line-height: 2rem;
}
.articles .articles__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
    padding: 0 2rem;
    border: 2px solid var(--dark-blue-1);
    color: var(--dark-blue-1);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    background-color: var(--white);
    border-radius: 0.375rem;
    min-height: 3rem;
    transition: 0.2s all;
}
.articles .articles__btn:hover {
    background-color: var(--dark-blue-1);
    color: var(--white);
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--light-grey-3);
}

.recommendations {
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    overflow: hidden;
}
.recommendations .recommendations__title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2px;
    margin: 2rem 0;
    color: var(--light-black);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}
.recommendations .recommendations__title .recommendations__title-green {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--green-2);
    z-index: 10;
}
.recommendations .recommendations__list {
    position: relative;
}
.recommendations .recommendations__list .swiper-wrapper .swiper-slide .swiper-slide__link {
    display: flex;
    justify-content: center;
}
.recommendations
    .recommendations__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.recommendations
    .recommendations__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-country {
    width: 140px;
    height: 140px;
    padding: 0.375rem;
    border-radius: 0.375rem;
    box-shadow: var(--box-shadow-5);
    position: relative;
}
.recommendations
    .recommendations__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-name {
    color: var(--black);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}
.recommendations
    .recommendations__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-flag {
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: calc(20px + 1.25rem - 12px);
    box-shadow: var(--box-shadow-6);
}
.recommendations
    .recommendations__list
    .swiper-wrapper
    .swiper-slide
    .swiper-slide__link
    .swiper-slide__card
    .swiper-slide__card-flag
    img {
    -o-object-fit: cover;
    object-fit: cover;
}
.recommendations .recommendations__list .swiper-button-prev {
    left: 0;
}
.recommendations .recommendations__list .swiper-button-next {
    right: 0;
}
.recommendations .recommendations__list .swiper-button-prev::after,
.recommendations .recommendations__list .swiper-button-next::after {
    color: var(--black);
    font-size: 1.5rem;
    line-height: 2rem;
}
.recommendations .recommendations__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
    padding: 0 2rem;
    border: 2px solid var(--dark-blue-1);
    color: var(--dark-blue-1);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    background-color: var(--white);
    border-radius: 0.375rem;
    min-height: 3rem;
    transition: 0.2s all;
}
.recommendations .recommendations__btn:hover {
    background-color: var(--dark-blue-1);
    color: var(--white);
}

@media (max-width: 1279.89px) {
    .articles .articles__title {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .recommendations .recommendations__title {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
@media (max-width: 1199.89px) {
    .wrapper .wrapper__arrows .arrow-1 {
        left: 20px;
        top: -100px;
    }
    .wrapper .wrapper__arrows .arrow-2 {
        right: 10px;
    }
    .wrapper .wrapper__slider .swiper .swiper-button-prev {
        left: 20px;
    }
    .wrapper .wrapper__slider .swiper .swiper-button-next {
        right: 20px;
    }
}
@media (max-width: 767.89px) {
    .wrapper .wrapper__arrows {
        display: none;
    }
    .wrapper .wrapper__slider .wrapper__slider-title {
        padding-left: 1.25rem;
    }
}
@media (max-width: 639.89px) {
    .wrapper .wrapper__search .wrapper__search-box {
        flex-direction: column;
        align-items: center;
    }
    .wrapper .wrapper__search .wrapper__search-box .wrapper__search-btn {
        width: -moz-fit-content;
        width: fit-content;
        height: 48px;
    }
}
@media (max-width: 374.89px) {
    .articles .swiper-articles .swiper-button-prev,
    .recommendations .swiper-recommendations .swiper-button-prev {
        left: -6px;
    }
    .articles .swiper-articles .swiper-button-next,
    .recommendations .swiper-recommendations .swiper-button-next {
        right: -6px;
    }
    .articles
        .swiper-articles
        .swiper-wrapper
        .swiper-slide
        .swiper-slide__link
        .swiper-slide__card
        .swiper-slide__card-img
        img {
        width: 200px;
        height: auto;
    }
} /*# sourceMappingURL=main.css.map */
