@import url("header.css");
@import url("footer.css");
@import url("modal.css");
body {
  background-color: var(--light-grey-1);
}

.blue-bg {
  position: absolute;
  width: 100%;
  height: 200px;
  display: block;
  background: url(../img/bluePattern.png);
}

.wrapper {
  max-width: 80rem;
  padding: 1rem 1rem 0 1rem;
  margin: 0 auto;
  position: relative;
}
.wrapper .wrapper-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.wrapper .wrapper-grid .vacancy {
  grid-column: span 3/span 3;
}
.wrapper .wrapper-grid .vacancy .card {
  margin-bottom: 0.75rem;
  border-radius: 0.375rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow-5);
}
.wrapper .wrapper-grid .vacancy .vacancy__card {
  padding: 1rem 0;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__info {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 0 1rem 1rem 1rem;
  align-items: center;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__info .vacancy__title {
  display: flex;
  grid-column: span 3/span 3;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--light-black);
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__info .vacancy__payment {
  display: grid;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__info .vacancy__payment .vacancy__price {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--dark-blue-1);
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__info .vacancy__payment .vacancy__rate {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: var(--dark-blue-1);
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__open {
  padding: 1rem;
  border-top: 2px solid var(--light-grey-2);
  display: flex;
  gap: 2rem;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__open .vacancy__conditions {
  -moz-column-count: 2;
       column-count: 2;
  gap: 0.75rem;
  width: -webkit-fill-available;
  width: -moz-available;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__open .vacancy__conditions .vacancy__condition {
  display: grid;
  gap: 0.25rem;
  align-content: flex-start;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__open .vacancy__conditions .vacancy__condition .vacancy__condition-title {
  color: var(--grey);
  font-size: 0.75rem;
  line-height: 1rem;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__open .vacancy__conditions .vacancy__condition .vacancy__condition-note {
  color: var(--light-black);
  overflow-wrap: anywhere;
}
.wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__open .vacancy__image {
  display: flex;
  width: 20%;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow-7);
}
.wrapper .wrapper-grid .vacancy .vacancy__description {
  padding: 1.25rem;
}
.wrapper .wrapper-grid .vacancy .vacancy__description .vacancy__description-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--light-black);
  margin-bottom: 1rem;
}
.wrapper .wrapper-grid .vacancy .vacancy__description .vacancy__description-text {
  font-size: 1rem;
  line-height: 1.5rem;
  white-space: pre-line;
  color: var(--light-black);
}
.wrapper .wrapper-grid .application-wrapper .application {
  display: grid;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 0.375rem;
  margin-bottom: 0.75rem;
  box-shadow: var(--box-shadow-5);
  text-align: center;
}
.wrapper .wrapper-grid .application-wrapper .application .application__title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--light-black);
  margin-bottom: 0.5rem;
}
.wrapper .wrapper-grid .application-wrapper .application .application__offer-btn {
  margin-top: 0.75rem;
  text-decoration-line: underline;
  background-color: transparent;
  color: var(--light-black);
  font-weight: 500;
}

.orange-bg {
  background-color: var(--orange);
}

.green-bg {
  background-color: var(--green-2);
}

.grey-bg {
  background-color: var(--light-grey-4);
}

.grey-text {
  color: var(--dark-grey-1) !important;
}

.vacancy__requirements {
  padding: 1.25rem;
}
.vacancy__requirements .vacancy__requirements-wrapper {
  padding: 1.5rem 1.5rem 1.25rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  row-gap: 1.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement {
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 0.75rem;
  justify-items: center;
  position: relative;
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--white);
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-image img {
  width: 24px;
  height: 24px;
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-text {
  color: var(--light-black);
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-tooltip {
  position: absolute;
  visibility: hidden;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  text-wrap: nowrap;
  padding: 13px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-6);
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-tooltip .tooltip-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-tooltip .tooltip-content .tooltip-text {
  color: var(--black);
  font-size: 12px;
  font-weight: 400;
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-tooltip .tooltip-content .tooltip-text .text-bold {
  font-weight: 600;
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--white) transparent transparent transparent;
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-tooltip:hover {
  display: none;
  visibility: hidden;
}
.vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement:hover .vacancy__requirement-tooltip {
  visibility: visible;
}

.application-btn-fixed {
  display: none;
}

.application__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-2);
  border: 2px solid var(--green-2);
  border-radius: 0.375rem;
  min-height: 3rem;
  padding: 0 2.25rem;
  box-shadow: var(--box-shadow-4);
}
.application__btn .application__btn-img {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}
.application__btn .application__btn-text {
  color: var(--white);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

@media (max-width: 1279.89px) {
  .wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__info .vacancy__title {
    font-size: 1.125rem;
  }
  .wrapper .wrapper-grid .vacancy .vacancy__description .vacancy__description-title {
    font-size: 1.125rem;
  }
  .wrapper .wrapper-grid .application-wrapper .application .application__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .vacancy__requirements .vacancy__requirements-wrapper .vacancy__requirement .vacancy__requirement-tooltip {
    display: none;
  }
}
@media (max-width: 1023.89px) {
  .wrapper .wrapper-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__info {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__info .vacancy__payment .vacancy__price {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .wrapper .wrapper-grid .application-wrapper .application {
    display: none;
  }
  .vacancy__requirements .vacancy__requirements-wrapper {
    padding: 1.5rem 1rem 1.25rem 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .application-btn-fixed {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow-8);
    padding: 0.75rem 1.25rem 1.25rem 1.25rem;
    height: 80px;
    z-index: 10;
  }
}
@media (max-width: 639.89px) {
  .wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__open .vacancy__conditions .vacancy__condition {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__open .vacancy__image {
    display: none;
  }
  .vacancy__requirements .vacancy__requirements-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .wrapper .wrapper-grid .vacancy .vacancy__card .vacancy__info .vacancy__payment {
    justify-items: end;
    justify-content: center;
    align-content: flex-end;
  }
}/*# sourceMappingURL=vacancy.css.map */